.mainapp-container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: aliceblue;
  margin: auto 0px;
  min-height: 90vh;
  padding-bottom: 40px;
}
.error-message {
  color: red;
  text-align: center;
}

.submit-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:lightblue;
  z-index: 3;
  max-height: 100vh;
}

.card {
  background-color: white;
  border-radius: 10px;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.submit-error-text {
  font-size: 24px;
  color: red;
  font-weight: 500;
}

.submit-success-text {
  font-size: 24px;
  color:blue;
  font-weight: 700;
}

.retry-button {
  font-size: 24px;
  background-color:blue;
  font-weight: 700;
  color: white;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
}

.done-button {
  font-size: 24px;
  background-color:blue;
  font-weight: 700;
  color: white;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
}

.product-section-container {
  width: 30%;
  flex-grow: 1;
  background-color:white;
  padding: 20px;
  border-radius:20px;
  border: 2px solid rgb(228, 231, 235);

}

.product-heading {
  font-size: 48px;
  font-weight:bold;
  text-align: center;
  font-family:inter;
  color: rgb(0, 48, 110);
  
}
.product-form-label {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 10px;
  font-family:inter;
  color: rgb(0, 48, 110);
}
.product-form-input {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.station-section-container {
  width: 25%;
  flex-grow: 1;
  background-color:white;
  padding: 20px;
  border-radius:20px;
  shadow:10px;
  border: 2px solid rgb(228, 231, 235);
  
}
.station-heading {
  
  font-size: 48px;
  font-weight:bold;
  
  text-align: center;
  font-family:inter;
  color: rgb(0, 48, 110);
}
.form-label {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
  font-family:inter;
  color: rgb(0, 48, 110);
}
.form-input {
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 28px;
  border: 2px solid black;
}
.submitted {
  cursor: not-allowed;
}

.submit-button {
  background-color:blue;
  color: white;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
